name: CI
on:
  push:
    branches:
      - main
  pull_request:
env:
  DEFAULT_GO_VERSION: "~1.23.0"
jobs:
  generate-and-check:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.DEFAULT_GO_VERSION }}
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Generate
        run: make clean protobuf go-mod-tidy
      - name: Check Clean Work Tree
        run: make check-clean-work-tree
  compatibility-test:
    strategy:
      matrix:
        go-version: ["~1.23.0", "~1.22.4"]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        submodules: true
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
        check-latest: true
        cache-dependency-path: "**/go.sum"
    - name: Generate
      run: make clean protobuf go-mod-tidy
    - name: Run tests
      run: make test
  test-compatibility:
    runs-on: ubuntu-latest
    needs: [compatibility-test]
    if: always()
    steps:
      - name: Test if compatibility-test workflow passed
        run: |
          echo ${{ needs.compatibility-test.result }}
          test ${{ needs.compatibility-test.result }} == "success"
